#modify-stylist {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    min-height: 100vh; /* Para que ocupe al menos toda la altura de la ventana */
}

.form-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 500px;
    width: 100%;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.form-group button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #45a049;
}

.btn-danger {
    background-color: rgb(200, 35, 51); /* Color de fondo rojo */
    color: white; /* Color del texto en blanco */
    padding: 10px 20px; /* Espaciado interno del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    text-align: center; /* Centra el texto */
    text-decoration: none; /* Sin subrayado en el texto */
}

.btn-danger:hover {
    background-color: darkred; /* Color de fondo al pasar el ratón */
}

