{% extends "admin_base.html" %}

{% block title %}Ver citas{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_reservas.css') }}">
<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css' rel='stylesheet' />
{% endblock %}

{% block content %}
<main>
    <div>
        <h1 class="title">Ver Citas del Estilista</h1>
    
        <!-- Formulario -->
        <form id="formCitas" class="mb-4" action="/admin/lista_reservas" method="POST">
            <div class="form-group">
                <label for="estilistaSelector" class="form-label">Estilista</label>
                <select class="form-control" id="estilistaSelector" name="estilista_id" required>
                    <option value="">Seleccione un estilista</option>
                    {% for estilista in estilista %}
                        <option value="{{ estilista.id }}">{{ estilista.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="fecha" class="form-label"></label>
                <input type="hidden" id="hiddenFecha" name="fecha" required>
            </div>
            <!-- Calendario -->
        <div id="calendar"></div>
            <button type="submit" class="btn btn-primary">Ver Citas</button>
        </form>
        {% if reserva is not none %}
            {% if reserva | length > 0 %}
                <div class="accordion">
                <h1 id="selected-date-title">Citas del {{ fecha_seleccionada }}</h1>
                {% for reservas in reserva %}
                        <div class="accordion-item" id="{{ reservas._id }}">
                            <button type="button" class="accordion-header" onclick="toggleAccordion(event, '{{ reservas._id }}')">
                                {{ reservas.hora_inicio }}
                            </button>
                            <div class="accordion-content">
                                <p>Estilista: {{ reservas.estilista.nombre if reservas.estilista else 'No disponible' }}</p>
                                <p>Tipo de servicio: {{ reservas.servicio }}</p>
                                <p>Cliente: {{ reservas.cliente.nombre if reservas.cliente else 'No disponible' }}</p>
                                <p>Correo: {{ reservas.cliente.email if reservas.cliente else 'No disponible' }}</p>
                                <p>Hora de inicio: {{ reservas.hora_inicio }}</p>
                                <p>Hora de término: {{ reservas.hora_final }}</p>
                                <div class="form-group">
                                    {% if reservas.estado == 'Pendiente' %}
                                        <!-- Botón Finalizar (solo si estilista.id == 1) -->
                                        {% if reservas.estilista and reservas.estilista.id == 1 %}
                                            <form action="{{ url_for('finalizar_cita', id=reservas._id) }}" method="GET" style="display:inline;">
                                                <button type="submit" class="btn-finalizar">Finalizar</button>
                                            </form>
                                        {% endif %}
                                        <!-- Botón Eliminar -->
                                        <form action="{{ url_for('eliminar_cita', id=reservas._id) }}" method="POST" style="display:inline;">
                                            <button type="submit" class="btn-delete" onclick="return confirm('¿Estás seguro de que deseas eliminar esta cita?');">Eliminar cita</button>
                                        </form>
                                    {% elif reservas.estado == 'Finalizada' %}
                                        <p style="color: #28a745;">-----Cita finalizada.-----</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="separator" style="border-top: 1px solid #ccc; margin: 10px 0;"></div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No hay citas disponibles para el estilista seleccionado en esta fecha.</p>
                {% endif %}
            </div>
            {% endif %}
        
    
        
    </div>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>
<script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var fechasReservadas = {{ fechas_ocupadas | tojson }}; // Fechas iniciales del primer estilista
            var calendar = null;
        
            function renderCalendar(events) {
                if (calendar) {
                    calendar.destroy(); // Destruir calendario anterior si ya existe
                }
        
                calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'dayGridMonth',
                    selectable: true,
                    events: events,
                    dateClick: function(info) {
                        document.getElementById('hiddenFecha').value = info.dateStr;
                        highlightSelectedDate(info.dateStr);
                    }
                });
        
                calendar.render();
            }
        
            // Convierte fechas ocupadas en eventos con colores según los criterios
            function convertirFechasAEventos(fechas) {
                var fechaActual = new Date().toISOString().split('T')[0]; // Fecha actual en formato YYYY-MM-DD
                return fechas.map(fecha => {
                    let color;
                    if (fecha.estado === 'Pendiente') {
                        color = '#dc3545'; // Rojo
                    } else if (fecha.estado === 'Finalizada') {
                        color = '#28a745'; // Verde
                    }/* else {
                        color = '#ffc107'; // Amarillo o algún otro color para otros estados
                    }*/
            
                    return {
                        title: fecha.estado, // Mostrar el estado como título (opcional)
                        start: fecha.fecha,
                        display: 'background',
                        color: color
                    };
                });
            }
        
            // Renderizar calendario inicial con las fechas actuales
            renderCalendar(convertirFechasAEventos(fechasReservadas));
        
            // Actualizar calendario al seleccionar un estilista
            document.getElementById('estilistaSelector').addEventListener('change', function() {
                var estilistaId = this.value;
                console.log(estilistaId);
                fetch(`/admin/actualizar_fechas?estilista_id=${estilistaId}`)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                        var eventos = convertirFechasAEventos(data);
                        renderCalendar(eventos); // Volver a renderizar el calendario con las nuevas fechas
                    })
                    .catch(error => console.error('Error al actualizar fechas:', error));
            });
        
            function highlightSelectedDate(dateStr) {
                // Remueve la clase de selección de cualquier fecha previamente seleccionada
                document.querySelectorAll('.fc-daygrid-day').forEach(day => {
                    day.classList.remove('selected-date');
                });
        
                // Agrega la clase de selección a la fecha seleccionada
                document.querySelectorAll('.fc-daygrid-day').forEach(day => {
                    if (day.getAttribute('data-date') === dateStr) {
                        day.classList.add('selected-date');
                    }
                });
            }
        
        });
        // Lógica del acordeón
        function toggleAccordion(event, id) {
            const allItems = document.querySelectorAll('.accordion-item');
            const item = document.getElementById(id);
            const content = item.querySelector('.accordion-content');
        
            // Cierra todos los items excepto el clicado
            allItems.forEach(i => {
                const iContent = i.querySelector('.accordion-content');
                if (i !== item) {
                    i.classList.remove("active");
                    iContent.style.maxHeight = null;
                }
            });
        
            // Alterna el estado del item clicado
            if (item.classList.contains("active")) {
                item.classList.remove("active");
                content.style.maxHeight = null; // Cerrar si ya está activo
            } else {
                item.classList.add("active");
                content.style.maxHeight = content.scrollHeight + "px"; // Abrir
            }
        } 
        
</script>
    
{% endblock %}