{% extends "admin_base.html" %}
{% block title %}Servicios de nuestro Salón{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_servicios.css') }}">
{% endblock %}

{% block content %}
<main>

    <!-- Sección de Bienvenida -->
    <section id="welcome-section">
        <h1>Bienvenidos a nuestro Salón</h1>
        <p>Ofrecemos una amplia gama de servicios de alta calidad para cuidar tu cabello.</p>
    </section>

     <!-- Mostrar mensajes flash -->
     {% with messages = get_flashed_messages(with_categories=true) %}
     {% if messages %}
       <ul class="flashes">
         {% for category, message in messages %}
           <li class="{{ category }}">{{ message }}</li>
         {% endfor %}
       </ul>
     {% endif %}
   {% endwith %}

    <!-- Sección de Servicios -->
    <section id="services-section">
        {% for servicio in servicios %}
        <div class="service-item">
            <div class="service-controls">
                <!-- Botón de edición -->
                <button class="edit-btn" onclick="modificarServicio('{{ servicio._id }}')">✏️</button>
                <!-- Botón de eliminación -->
                <button class="delete-btn" onclick="eliminarServicio('{{ servicio._id }}')">❌</button>
            </div>
            <img src="{{ servicio.img_url }}" alt="{{ servicio.nombre }}">
            <h3>{{ servicio.nombre }}</h3>
            <p>{{ servicio.descripcion }}</p>
        </div>
        {% endfor %}
    </section>

    <!-- Botón Agregar Servicio -->
    <div class="add-service-button">
        <a href="{{ url_for('agregar_servicio') }}" class="btn agregar-btn">Agregar Servicio</a>
    </div>

</main>

{% block scripts %}
<script src="{{ url_for('static', filename='js/admin_servicios.js') }}"></script>
{% endblock %}
{% endblock %}
