{% extends "admin_base.html" %}
{% block title %}Servicios de nuestro Salón{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/servicios.css') }}">
{% endblock %}

{% block content %}
<main>

    <!-- Sección de Bienvenida -->
    <section id="welcome-section">
        <h1>Bienvenidos a nuestro Salón</h1>
        <p>Ofrecemos una amplia gama de servicios de alta calidad para cuidar tu cabello.</p>
    </section>

    <!-- Sección de Servicios -->
    <section id="services-section">
        <div class="service-item">
            <img src="{{ url_for('static', filename='img/cortes/balayage.jpg') }}" alt="Balayage">
            <h3>Balayage</h3>
            <p>El Balayage es una técnica de decoloración que consiste en hacer un barrido del color de manera degradada desde la raíz hasta las puntas, proporcionando un efecto natural y luminoso.</p>
        </div>

        <div class="service-item">
            <img src="{{ url_for('static', filename='img/cortes/babylight.jpg') }}" alt="Babylight">
            <h3>Babylight</h3>
            <p>Las Babylights son mechas finas que simulan los reflejos naturales del cabello infantil, aportando luz y suavidad al cabello.</p>
        </div>

        <div class="service-item">
            <img src="{{ url_for('static', filename='img/cortes/cortes.jpg') }}" alt="Cortes">
            <h3>Cortes</h3>
            <p>Ofrecemos cortes modernos y personalizados que se adaptan a la forma de tu rostro y a tu estilo personal.</p>
        </div>

        <div class="service-item">
            <img src="{{ url_for('static', filename='img/cortes/color.jpg') }}" alt="Cambios de color">
            <h3>Cambios de color</h3>
            <p>Transforma tu look con un cambio completo de color, realizado por expertos en tendencias de coloración capilar.</p>
        </div>

        <div class="service-item">
            <img src="{{ url_for('static', filename='img/cortes/canas.jpg') }}" alt="Cobertura de canas">
            <h3>Cobertura de canas</h3>
            <p>Ofrecemos servicios de cobertura total de canas para un acabado natural y duradero.</p>
        </div>
    </section>

</main>
<script>
    // Función para detectar cuándo los elementos entran en la vista
    function handleScroll() {
        const serviceItems = document.querySelectorAll('.service-item');
        const windowHeight = window.innerHeight;

        serviceItems.forEach(item => {
            const itemTop = item.getBoundingClientRect().top;
            
            // Si el elemento está en la vista, añadir la clase 'visible'
            if (itemTop < windowHeight - 100) {
                item.classList.add('visible');
            }
        });
    }

    // Ejecutar la función cuando la página se carga y cuando el usuario hace scroll
    window.addEventListener('scroll', handleScroll);
    window.addEventListener('load', handleScroll);
</script>
{% endblock %}
