{% extends "admin_base.html" %}
{% block title %}Iniciar Sesión{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_login.css') }}">
{% endblock %}

{% block content %}
<main class="login">
    <div class="login__content">
        <h2 class="login__title">Inicio de Sesión para Administradores</h2>
        <form method="POST" action="{{ url_for('admin_login') }}" class="login__forms">
            <div class="login__box">
                <label for="username" class="login__icon">Usuario:</label>
                <input type="text" id="username" name="username" required class="login__input" placeholder="Ingresa tu usuario">
            </div>

            <div class="login__box">
                <label for="password" class="login__icon">Contraseña:</label>
                <input type="password" id="password" name="password" required class="login__input" placeholder="Ingresa tu contraseña">
            </div>

            <input type="submit" value="Iniciar Sesión" class="login__button">
        </form>

        <a href="/salir" class="login__forgot">Salir</a>

        {% if error %}
        <p style="color:red;">{{ error }}</p>
        {% endif %}
    </div>
</main>
{% endblock %}
