{% extends "base.html" %}
{% block title %}Reserva de Citas{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contacto.css') }}">
{% endblock %}
{% block content %}
<main>
    <body>
        <div class="container">
            <div class="contact-box">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.4746023265934!2d-70.7075361!3d-33.436939599999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c4724e0e1f89%3A0x4a72c7845720ef64!2sLeonor%20de%20La%20Corte%205215%2C%208500567%20Quinta%20Normal%2C%20Región%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1732745663294!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="right">
                    <h2>Contacto</h2>
                    <form method="POST" action="/contacto">
                        <div class="form-group">
                            <input type="text" class="field" id="nombre" name="nombre" required placeholder="Nombre" minlength="4">
                        </div>
                        <div class="form-group">
                            <input type="email" class="field" id="email" name="email" placeholder="Correo electrónico" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="field" id="telefono" name="telefono" placeholder="Número de teléfono" required>
                        </div>
                        <div class="form-group">
                            <textarea name="mensaje" class="field" placeholder="Mensaje..." required></textarea>
                        </div>
                        <div class="form-group full-width">
                            <button type="submit" class="btn">Continuar</button>
                        </div>
                    </form>
                </div>
                
        </div>
    </body>
</main>




{% endblock %}