{% extends "base.html" %}
{% block title %}Reserva de Citas{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contacto.css') }}">
{% endblock %}
{% block content %}
<main>
    <body>
        <div class="container">
            <div class="contact-box">
                <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6653.396380083061!2d-70.75355435875537!3d-33.5092286300523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662dcd1fe0c7bab%3A0x4d17b82a7ba77488!2sDuoc%20UC%3A%20sede%20Maipu!5e0!3m2!1ses-419!2scl!4v1725320830572!5m2!1ses-419!2scl"></iframe>
                <div class="left"></div>
                <div class="right">
                    <h2>Contacto</h2>
                    <input type="text" class="field" placeholder="Nombre">
                    <input type="text" class="field" placeholder="Correo electornico">
                    <input type="text" class="field" placeholder="Numero telefonico">
                    <textarea placeholder="Mensaje..." class="field"></textarea>
                    <button class="btn">Enviar</button>
                </div>
            </div>
        </div>
    </body>


{% endblock %}