{% extends "admin_base.html" %}

{% block title %}Datos de Negocio{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/datos_negocio.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Dashboard - Información de Negocio</h1>
    <br><hr>
    <h1>Suma de Montos Finales</h1>
    <center><p>Total de monto final: ${{ total_monto_final }}</p></center>
    
    <br><hr>
    <!-- Tabla de Clientes con Más Citas -->
    <div class="table-container">
        <h2>Clientes con Más Citas</h2>
        <table>
            <thead>
                <tr>
                    <th>Cliente ID</th>
                    <th>Nombre</th>
                    <th>Cantidad de Citas</th>
                </tr>
            </thead>
            
            <tbody>
                {% for cliente in top_clientes_data %}
                
                <tr>
                    <td>{{ cliente.cliente_id }}</td>
                    <td>{{ cliente.nombre_cliente }}</td>
                    <td>{{ cliente.cantidad }}</td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
    <br><hr>
    <!-- Tabla de Servicios Más Requeridos -->
<table class="table">
    <thead>
        <h2>Servicios más solicitados</h2>
      <tr>
        <th>Servicio</th>
        <th>Cantidad</th>
      </tr>
    </thead>
    <tbody>
      {% for servicio in servicios_data %}
        <tr>
          <td>{{ servicio.nombre_servicio }}</td>
          <td>{{ servicio.cantidad }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

 
  
  
  

  
</div>

<script src="{{ url_for('static', filename='js/charts.js') }}"></script>
<script>
    // Datos para el gráfico
    const estilistasData = {{ estilistas_data | tojson }};
    const estilistasNames = estilistasData.map(e => e.nombre);
    const citasData = estilistasData.map(e => e.citas);

    // Generar el gráfico de citas por estilista
    const ctx = document.getElementById('estilistasChart').getContext('2d');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: estilistasNames,
            datasets: [{
                label: 'Citas por Estilista',
                data: citasData,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}


