{% extends "admin_base.html" %}

{% block title %}Crear Disponibilidad{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/generar_disp.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="dispo_box">
        <section id="create-disponibilidad-section" class="dispo_box-item">
            <h2>Crear Disponibilidad</h2>
            <form method="POST" action="/generar_disponibilidad">
                
                <!-- Campo ID del Estilista -->
                <div class="form-group">
                    <label for="estilista_id">ID del Estilista:</label>

                    {% if session['estilista'] %}
                        {% if session['estilista']['rol'] == 'estilista' %}
                        <select class="form-control" id="estilista_id" name="estilista_id" required>
                            {% for estilista in estilista %}
                                {% if session['estilista']['idestilista'] == estilista.id %}
                                    <option value="{{ estilista.id }}">{{ estilista.nombre }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        {% endif %}
                    {% elif session['admin'] %}
                        {% if session['admin']['rol'] == 'admin' %}
                            <select class="form-control" id="estilista_id" name="estilista_id" required>
                                {% for estilista in estilista %}
                                    <option value="{{ estilista.id }}">{{ estilista.nombre }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    {% endif %}

                </div>

                <!-- Campo Fecha -->
                <div class="form-group">
                    <label for="fecha">Fecha (YYYY-MM-DD):</label>
                    <input type="date" id="fecha" name="fecha" required>
                </div>

                <!-- Campo Hora de Inicio -->
                <div class="form-group">
                    <label for="hora_inicio">Hora de Inicio:</label>
                    <input type="time" id="hora_inicio" name="hora_inicio" required>
                </div>

                <!-- Campo Hora de Fin -->
                <div class="form-group">
                    <label for="hora_fin">Hora de Fin:</label>
                    <input type="time" id="hora_fin" name="hora_fin" required>
                </div>

                <!-- Botón Crear Disponibilidad -->
                <div class="form-group">
                    <button type="submit">Crear Disponibilidad</button>
                </div>
            </form>
        </section>
    </div>
</div>
{% endblock %}