{% extends "base.html" %}
{% block title %}Servicios de nuestro Salón{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/servicios.css') }}">
{% endblock %}

{% block content %}
<main>

    <!-- Sección de Bienvenida -->
    <section id="welcome-section">
        <h1>Bienvenidos a nuestro Salón</h1>
        <p>Ofrecemos una amplia gama de servicios de alta calidad para cuidar tu cabello.</p>
    </section>

    <!-- Sección de Servicios -->
    <section id="services-section">
        {% for servicio in servicios %}
        <div class="service-item">
            <img src="{{ servicio.img_url }}" alt="{{ servicio.nombre }}">
            <h3>{{ servicio.nombre }}</h3>
            <p>{{ servicio.descripcion }}</p>
        </div>
        {% endfor %}
    </section>

</main>
<script>
    // Función para detectar cuándo los elementos entran en la vista
    function handleScroll() {
        const serviceItems = document.querySelectorAll('.service-item');
        const windowHeight = window.innerHeight;

        serviceItems.forEach(item => {
            const itemTop = item.getBoundingClientRect().top;
            
            // Si el elemento está en la vista, añadir la clase 'visible'
            if (itemTop < windowHeight - 100) {
                item.classList.add('visible');
            }
        });
    }

    // Ejecutar la función cuando la página se carga y cuando el usuario hace scroll
    window.addEventListener('scroll', handleScroll);
    window.addEventListener('load', handleScroll);
</script>
{% endblock %}
